<H1>Company: {{ company.nombre }}(Id: {{ company.id }})</H1>
<H5>Correo: {{ company.correo }}</H5>
<H5>Pais: {{ company.pais }}</H5>
<H5>Ciudad: {{ company.ciudad }}</H5>
<H5>Direccion: {{ company.direccion }}</H5>
<H5>Celular: {{ company.celular }}</H5>
<H5>Contacto: {{ company.contacto }}</H5>
<HR>
<a routerLink="/agregarProyecto/{{ company.id }}/{{ this.userId }}/{{ this.token }}"> Adicionar Proyecto a la Empresa </a> 
<HR>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Project's Id</th>
          <th class="h4">Project's Name</th>
          <th class="h4">Description</th>
          <th class="h4">Detalle</th>
        </tr>
        <tr *ngFor="let proy of company.proyectos">
          <td>
            <dd>{{proy.id}}</dd>
          </td>
          <td>
            <dd>{{proy.nombre}}</dd>
          </td>
          <td>
            <dd>{{proy.descripcion}}</dd>
          </td>
          <td>
            <dd><a routerLink="/detalleProyecto/{{ proy.id }}/{{ this.userId }}/{{ this.token }}" > detalle </a> </dd>
          </td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<!-- 

<p>
  Company-ver works!
</p>
<p>this.userId: {{this.userId}}</p>
<p>this.token: {{this.token}}</p>
<p class="card-text">[{{ company.nombre }}]</p>

  <div *ngFor="let proy of company.proyectos" class="col mb-2">
  <p >Nombre Proyecto: {{ proy.nombre }}</p>
  <a routerLink="/detalleProyecto/{{ proy.id }}/{{ this.token }}" > {{ proy.nombre }}</a>
</div>





  <a routerLink="detalleProyecto/{{ proy.id }}/{{ this.token }}"> {{ proy.nombre }}</a>
/home/lepcorp1/Desarrollo/repo/angular/ABC170830/Inicio_ABCJobs_FrontEnd/src
-->
