<p>
  Company-ver works!
</p>
<p class="card-text">[{{ company.nombre }}]</p>
<p >{{ company.nombre }}</p>
<p >{{ company.pais }}</p>
<p >{{ company.ciudad }}</p>
<p >{{ company.direccion }}</p>
<p >{{ company.celular }}</p>
<p >{{ company.correo }}</p>
<p >{{ company.contacto }}</p>
<p >{{ company.id_usuario}}</p>
<div *ngFor="let proy of company.proyectos" class="col mb-2">
  <p >{{ proy.nombre }}</p>
  <a routerLink="detalleProyecto" > {{ proy.nombre }}</a>
</div>


<!-- 


  <a routerLink="detalleProyecto/{{ proy.id }}/{{ this.token }}"> {{ proy.nombre }}</a>
/home/lepcorp1/Desarrollo/repo/angular/ABC170830/Inicio_ABCJobs_FrontEnd/src
-->
